# Ignore node_modules in both Backend and Frontend
Backend/node_modules/
Frontend/ytdlp/node_modules/

# Ignore environment files
.env

# Ignore logs
*.log

# Ignore build files, if any
Backend/build/
Frontend/build/
